<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TGSC Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <style>
        body {
            padding-top: 56px;
            background-color: antiquewhite;
        }

        @media (min-width: 768px) {
            body {
                padding-top: 76px;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">The Gospel Study Center Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all' %}">All blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                   <li class="nav-item">
                        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="post" action="{% url 'logout' %}">{% csrf_token %}
                        <input type="hidden"/>

                        </form>
                   </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<div class="container mt-5">
    <h1>About Us</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Our Story</h2>
        <p>
          Welcome to The Gospel Study Center (TGSC), a haven for spiritual growth and emotional well-being. TGSC through the Glory of God was Founded by Chaplain Shobayo Kayode. TGSC is a dedicated center for profound Bible study and compassionate counseling.
        </p>

        <p>
          Our vision is to be a center for gospel-centered counseling and biblical study, impacting lives, families, and communities. We envision a world where individuals experience the fullness of God's love and find restoration in both their spiritual and emotional well-being.

<br><br><h3>Founder: Chaplain Shobayo Kayode</h3>
Chaplain Shobayo Kayode, the visionary behind TGSC, is an ordained servant of God with a passion for guiding individuals on their spiritual journey. With years of pastoral experience and biblical counseling expertise,Chaplain Kayode has played a vital role through the help of God in transforming lives and strengthening faith.
        </p>
      </div>

      <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>
          At TGSC, our mission is twofold: to offer expert biblical counseling services and to foster spiritual growth through in-depth study of the word of God. We believe that by combining the transformative power of counseling with the wisdom found in the Scriptures, individuals can experience holistic healing and achieve a deeper understanding of their faith.
        </p>

        <p>
          <h1>What Sets the Center Apart</h1>
          <ol>
              <li><strong>Biblical Counseling:</strong> Our counseling services are rooted in the principles of the Bible. We provide a safe and supportive environment for individuals seeking guidance, encouragement, and healing based on biblical truths.</li>
              <li><strong>In-Depth Study of God's Word:</strong> TGSC is committed to facilitating a profound understanding of the Bible. Through engaging study sessions, seminars, and workshops, we empower our community to apply biblical principles to their daily lives.</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>