<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TGSC Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <style>
        body {
            padding-top: 56px;
            background-color: antiquewhite;
        }

        @media (min-width: 768px) {
            body {
                padding-top: 76px;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">The Gospel Study Centre Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all' %}">All blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                   <li class="nav-item">
                        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="post" action="{% url 'logout' %}">{% csrf_token %}
                        <input type="hidden"/>

                        </form>
                   </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<div class="container mt-5">
    <h1 class="text-center">About Us</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Our Story</h2>
        <p class="text-justify">
          Welcome to The Gospel Study Centre (TGSC), a haven for spiritual growth and emotional well-being. TGSC through the Glory of God was Founded by Rev. Chaplain Shobayo Kayode. TGSC is a dedicated center for profound Bible study and compassionate counseling.
        </p>

        <p class="text-justify">
          Our vision is to be a centre where we rightly divide the word of truth and encourage others to believe and practice truth, doing so gently and kindly.<br><br>
          <h3>Founder: Chaplain Shobayo Kayode</h3>
<p class="text-justify"> Rev. Chaplain Shobayo Kayode, the visionary behind TGSC, is an ordained servant of God with a passion for guiding individuals through the Word of God on their spiritual journey. He has been a Sunday School teacher in a local assembly of Foursquare Gosple Church for about a decade.<br>He is currently studying for his Masters of Art Degree in Theology at the Faith Christian Theological Seminary and his BSc Degree in Clinical Spirituotherapy and Psychotheology at the Faith Academy of Clinical Spirituotherapy and Psychotheology
        </p>
      </div>

      <div class="col-md-6">
        <h2>Our Mission</h2>
        <p class="text-justify">
          At TGSC, our mission is twofold: to offer biblical counseling and provide in-depth study of the word of God.
        </p><br>
        <h2 style="color: #533f03">MISSION STATEMENT:</h2>
        <h3 class="text-justify">To enable those that are willing to build faith in Jesus Christ through the word of God & Christian counseling</h3>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>