<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ blog.title }} - TGSC Blog</title>
    {% csrf_token %}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-ZKsCsfifH1eJbbQJiRyW+zMbLPmweCU+aR8eYOEBIl/aAbC4m2gSquePcx0492pl"
    crossorigin="anonymous">
</head>

<body style="background-color: beige">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">The Gospel Study Center Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all' %}">All blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                   <li class="nav-item">
                        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="post" action="{% url 'logout' %}">{% csrf_token %}
                        <input type="hidden"/>

                        </form>
                   </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8" style="background-color: beige">
                <h1 class="mt-4">{{ blog.title }}</h1>
                <p class="lead">Posted on {{ blog.date_created}}</p>
                <hr>
                <p style="word-wrap: break-word; white-space: pre-line;">{{ blog.content }}</p>

                <!-- Comments Section -->
                <div class="card my-4" style="background-color: gray">

                    <h5 class="card-header">Comments</h5>

                    <div class="card-body">
                        <!-- Display comments -->
                        {% for comment in comments %}
                            <div class="media mb-3">
                                <div class="media-body">
                                    <h6 class="mt-0">{{ comment.date_created }}</h6>
                                    {{ comment.opinion }}
                                    <h6 class="mt-0">{{ comment.author }}</h6>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Add a new comment -->
                        <a href="{% url 'add_comment' blog_id=blog.id %}" class="btn btn-primary">Add Comment</a>
                        <form method="post" action="{% url 'like_blog' blog_id=blog.id %}">
                        {% csrf_token %}
                        <button type="submit">
                        {% if request.user in blog.like.all %}<span class="love-icon-filled">❤️</span>{% else %}<span class="love-icon-outline">🤍</span>{% endif %}
                        </button>
                        </form>
                    </div>
                    <h5>{{ blog.like.count }}❤️, {{ comments.count }}🗨️</h5>

                </div>
                <!-- End Comments Section -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{#    <script>#}
{#        document.getElementById('like-button').addEventListener('click', function(){#}
{#            var blogId = this.getAttribute('data-blog-id');#}
{#            var url = `/blog/${blogId}/like/`;#}
{##}
{#            fetch(url,{#}
{#                method: 'POST',#}
{#                headers: new Headers({#}
{#                    'Content-Type':'application/json',#}
{#                    'X-CSRFToken':'{{ csrf_token }}',#}
{#                    'X-Requested-With':'XMLHttpRequest',#}
{#                }),#}
{#                credentials:'same-origin'#}
{#            })#}
{#                .then(response => {#}
{#                    if (response.status === 401){#}
{#                        window.location.href='/login/';#}
{#                    }#}
{#                    return response.json()#}
{#                })#}
{#                .then(data => {#}
{#                    if (data.liked) {#}
{#                        this.classList.add('liked');#}
{#                    } else {#}
{#                        this.classList.remove('liked');#}
{#                    }#}
{#                    this.innerText = `Like (${data.count})`;#}
{#                })#}
{#                .catch(error => console.error('Error:',error));#}
{#        });#}
{#    </script>#}
</body>

</html>
