<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TGSC Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <style>
        body {
            padding-top: 56px;
            background-color: antiquewhite;
        }

        @media (min-width: 768px) {
            body {
                padding-top: 76px;
            }
        }
    </style>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">The Gospel Study Centre Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all' %}">All blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                   <li class="nav-item">
                        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="post" action="{% url 'logout' %}">{% csrf_token %}
                        <input type="hidden"/>

                        </form>
                   </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Post Content -->
                <h1 class="mt-4">Welcome to TGSC</h1>
                <p class="lead">Latest articles and updates from TGSC.</p>
                <!-- Sample Blog Post -->
                {% for latest in latest_blog  %}
                <div class="card mb-4" style="background-color: brown">
                    <div class="card-body">
                        <h2 class="card-title">{{ latest.title }}</h2>
                        <p class="card-text">{{latest.summary}} <a href="{% url 'detail' blog_id=latest.id %}">...more</a></p>
                        <a href="{% url 'all' %}" class="btn btn-primary">Other Blogs &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ latest.date_created }} by {{ latest.author }}
                    </div>
                </div>
                {% endfor %}
                <!-- End Sample Blog Post -->
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="card my-4">
                </div>

{#                <div class="card my-4">#}
{#                    <h5 class="card-header">Categories</h5>#}
{#                    <div class="card-body">#}
{#                        <ul class="list-unstyled">#}
{#                            <li><a href="#">Category 1</a></li>#}
{#                            <li><a href="#">Category 2</a></li>#}
{#                            <li><a href="#">Category 3</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
